body {overflow: hidden;}
.col-3 {padding: 1% !important}
.key {margin-top: 2px;}
@media (max-width: 1600px) and (min-width: 1200px) {
  .key {
    height: 100px; 
  }
}
@media (max-width: 1200px) and (min-width: 900px) {
  .key {
    height: 90px; 
  }
}
@media (max-width: 900px) and (min-width: 500px) {
  .key {
    height: 80px; 
  }
}

@media (max-width: 500px){
  .key {
    height: 60px; 
  }
}
#output-view {
  word-break: break-all;
  min-height: 50px;
  padding: 10px;
  background: cornsilk
}
